body {

  margin: 0px;
  padding: 0px;
  border: 0px;
  background-color: #FFFFFF;
  cursor: pointer;

}

#adRoot {

	width: 320px;
	height: 50px;
	background-color: #FFFFFF;
	position: absolute;
	cursor: pointer;
}


#adContent {
	position: absolute;
	width: 320px;
	height: 50px;
	background-image: url("Chromebook_US_PDP_320x50_Samsung.jpg");
	background-size: 320px 50px;
}


