body {

  margin: 0px;
  padding: 0px;
  border: 0px;
  background-color: #FFFFFF;
  cursor: pointer;

}

#adRoot {

	width: 336px;
	height: 280px;
	background-color: #FFFFFF;
	position: absolute;
	cursor: pointer;
}


#adContent {
	position: absolute;
	width: 336px;
	height: 280px;
	background-image: url("Chromebook_US_PDP_336x280_Samsung.jpg");
	background-size: 336px 280px;
}


