body {

  margin: 0px;
  padding: 0px;
  border: 0px;
  background-color: #FFFFFF;
  cursor: pointer;

}

#adRoot {

	width: 300px;
	height: 600px;
	background-color: #FFFFFF;
	position: absolute;
	cursor: pointer;
}


#adContent {
	position: absolute;
	width: 300px;
	height: 600px;
	background-image: url("Chromebook_US_PDP_300x600_Samsung.jpg");
	background-size: 300px 600px;
}


